<% @shops.each do |shop| %>
<%= shop.name%>
<%end%>
<h3>店舗一覧</h3>
<div container-fluid>
  <div class="row">
    <div class="col-3">
      <table class="table">
        <%= form_with url: s_pref_path, local: true, method: 'get' do |f| %>
        <tr>
          <th>関東</th>
        </tr>
        <tr>
          <td><%= f.check_box :prefecture, {multiple: true}, '東京', false%>
            <%= f.label :prefecture, "東京" %>
          </td>
        </tr>
        <tr>
          <td><%= f.check_box :prefecture, {multiple: true}, '神奈川', false%>
            <%= f.label :prefecture, "神奈川" %></td>
        </tr>
        <tr>
          <td><%= f.check_box :prefecture, {multiple: true}, '埼玉', false%>
            <%= f.label :prefecture, "埼玉" %></td>
        </tr>
        <tr>
          <td><%= f.check_box :prefecture, {multiple: true}, '千葉', false%>
            <%= f.label :prefecture, "千葉" %></td>
        </tr>
        <tr>
          <td><%= f.check_box :prefecture, {multiple: true}, '茨城', false%>
            <%= f.label :prefecture, "茨城" %></td>
        </tr>
        <tr>
          <td><%= f.check_box :prefecture, {multiple: true}, '栃木', false%>
            <%= f.label :prefecture, "栃木" %></td>
        <tr>
          <td><%= f.check_box :prefecture, {multiple: true}, '群馬', false%>
            <%= f.label :prefecture, "群馬" %></td>
        </tr>

        <tr>
          <th>特徴タグ</th>
        </tr>
        <% @tags.each do |tag| %>
        <tr>
          <td><%= f.check_box :tag, {multiple: true}, tag.name, nil %><%= f.label :tag, tag.name %></td>
        </tr>
        <% end %>
        <tr>
          <td><%= f.submit "検索"%></td>
        </tr>
        <% end %>
      </table>
    </div>

    <div class="col-9">
      <div class="row">
        <div class="container mt-4">
          <div class="row w-100">
            <% @shops.each do |shop| %>
            <% if shop.del_flg != 1 %>
            <div class="col-3">
              <% if shop.image? %>
              <%= link_to s_show_path(shop) do %>
              <%= image_tag shop.image.url, class: 'img-thumbnail' %>
              <% end %>
              <% end %>
              <div class="row">
                <div class="col-12">
                  <p class="mt-2"><%= shop.name %></p>
                  <%= link_to "店舗詳細", s_show_path(shop) %>
                </div>
              </div>
            </div>
            <% end %>
            <% end %>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>