<div class="container">
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
      <h4 class="text-center">ユーザー 利用方法</h4><br>
      <ol>
        <li>
          <h5>店舗一覧から希望に合う店舗を探す</h5>
          <p>絞り込み検索を使えば「都道府県」、「特徴タグ」などで検索して、希望に合う店舗を探すことが出来ます。</p>
        </li>
        <%= image_tag "/images/shop_index_picture_like.JPG",class: "about-image" %><br><br>
        <li>
          <h5>利用したい日時を選択する</h5>
          <p>店舗詳細画面から「予約日時選択」を押し、カレンダーから希望する日時を選択にチェックを入れます。<br>チェックを入れたら予約を申し込む。</p>
          <p>※時間単位は1時間になります。「13:00~」の時間にチェックを入れると「13:00〜14:00」を借りることになります。<br>※申し込む前に店舗側とチャットをすることも可能です。</p>
        </li>
        <%= image_tag "/images/calendar_picture_like.JPG",class: "about-image" %><br><br>
        <li>
          <h5>チャットで店舗と当日の流れを確認する</h5>
          <p>チャットで店舗様と挨拶しましょう！<br>また、店舗様と以下のような点を確認してください</p>
          <ul>
            <li>料金の合計額はいくらになりますか？</li>
            <li>店舗を借りる際、返す際はどなたか立ち合いになりますか？</li>
            <li>何か注意事項はありますか？</li>
          </ul>
        </li>
        <%= image_tag "/images/chat_picture_like.JPG",class: "about-image" %><br><br>
        <li>
          <h5>当日、予約の日時に店舗に伺い、料金を支払う</h5>
          <p>店舗様から特別な指示がない限り、直接お支払いをお願いします。</p>
        </li>
        <li>
          <h5>利用後に店舗側へ評価や口コミをつける</h5>
          <p>ぜひ、店舗様への評価や口コミの作成をお願いします。</p>
        </li>
      </ol><br>
      <h4>Q&A</h4><br>
      <ul>
        <li>Q. 料金の支払いはどうすれば？</li>
        <li>A. ご利用時に直接、店舗様へお支払いください。</li>
        <br>
        <li>Q. 1時間単位でなく、30分単位とかで借りられない？</li>
        <li>A. 基本は1時間単位での貸し借りになっております。細かく時間調整したい場合は店舗様と直接ご交渉ください。</li>
      </ul>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 text-center py-0">
          <%= link_to "ユーザー会員登録", u_new_path, class: "btn btn-light" %>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 text-center py-0">
          <%= link_to "まずは登録店舗を見てみる", s_index_path, class: "btn btn-light"%>
        </div>
      </div>
    </div>
  </div>
</div>