<div class="container">
  <h3 class="text-center">ユーザー 利用方法</h3>
  <div class="row">
    <div class="col-lg-8 col-md-10 col-sm-12 mx-auto">
      <ol>
        <li>店舗一覧や、「都道府県」・「特徴タグ」などから検索して、希望に合う店舗を探す。</li>
        <%= image_tag "/images/shop_index_picture_like.JPG",class: "about-image" %><br><br>
        <li>カレンダーから日時を選択し、予約を申し込む。(申し込む前に店舗側とチャットをすることも可能)</li>
        <%= image_tag "/images/calendar_picture_like.JPG",class: "about-image" %><br><br>
        <li>予約したら、チャット機能により、店舗と当日の流れを確認する</li>
        <%= image_tag "/images/chat_picture_like.JPG",class: "about-image" %><br><br>
        <li>当日、予約の日時に店舗に伺い、代金を支払う</li>
        <li>利用後に店舗側へ評価や口コミをつける</li>
      </ol>
      <div class="row justify-content-center">
        <div class="col-lg-4 col-md-6 col-sm-12 text-center py-0">
          <%= link_to "ユーザー会員登録", u_new_path, class: "btn btn-light" %>
        </div>
        <div class="col-lg-4 col-md-6 col-sm-12 text-center py-0">
          <%= link_to "まずは登録店舗を見てみる", s_index_path, class: "btn btn-light"%>
        </div>
      </div>
    </div>
  </div>
</div>