<h1>編集</h1>
<%= form_for(@user, url: {controller: 'users', action: 'update'}) do |f| %>
<%= f.label :name, "名前" %>
<%= f.text_field :name %><br>
<%= f.label :email, "Eメール" %>
<%= f.text_field :email %><br>
<%= f.label :tel, "電話番号" %>
<%= f.text_field :tel %><br>
<%= f.label :address, '住所' %>
<%= f.text_field :address %><br>
<%= f.label :password, "パスワード" %>
<%= f.text_field :password %><br>
<%= f.label :password_confirmation, "パスワードの確認" %>
<%= f.text_field :password_confirmation %><br>
<%= f.label :image, "プロフィール画像" %>
<%= f.file_field :image%><br>
<%= f.submit label="登録" %>

<% end %>