<div class="container">
  <h3 class="text-center">マイアカウント</h3>
  <div class="row">
    <div class="col-lg-4 col-sm-12">
      <%= image_tag @user.image.url, width: "250" %>
    </div>
    <div class="col-lg-8 col-sm-12">
      ユーザー名: <%= @user.name %><br>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i>
      <i class="far fa-star"></i><br>
      Eメール：: <%= @user.email %><br>
      <p>口コミ評価: <%= @rate %></p>
      <% @evaluations.each do |evaluate| %>
      <ul>
        <li><%= evaluate%></li>
      </ul>
      <% end %>
      <%= link_to "登録情報編集", u_edit_path, class: "btn btn-light mb-4" %><br>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-6 col-sm-12">
      <h2>今後の予約</h2>
      <% if @furture_calendars.present? %>
      <% @furture_calendars.each do |calendar| %>
      <ul>
        <li><%= calendar.rent_date %> <%= calendar.start_time %></li>
        <%= link_to calendar.shop.name, s_show_path(calendar.shop) %>
      </ul>
      <% end %>
      <% else %>
      <p>現在、申込中の店舗はありません</p>
      <% end %>
    </div>
    <div class="col-lg-6 col-sm-12">
      <h2>過去の予約</h2>
      <% if @past_calendars.present? %>
      <% @past_calendars.each do |calendar| %>
      <ul>
        <li><%= calendar.rent_date %> <%= calendar.start_time %></li>
        <%= link_to calendar.shop.name, s_show_path(calendar.shop) %>
      </ul>
      <% end %>
      <% else %>
      <p>まだありません</p>
      <% end %>
    </div>
    <% if @furture_calendars.size == 10 || @past_calendars.size == 10 %>
    <%= link_to "予約一覧", c_index_path %>
    <% end %>
  </div>
</div>