<div class="container">
  <h3 class="text-center"><%= @user.name %>への連絡</h3>
  <div class="contents">
    <div class="js-message-errors"></div>
    <%= render partial: 'message'%>
    <%= form_with(model: @message, class: 'js-form', url: ch_msg_shop_path) do |f| %>
    <%= f.hidden_field :user, :value => @user.public_uid %>
    <%= f.label :content, "内容" %>
    <%= f.text_area :content, class: "form-control", id: "message_text" %>
    <div class="row ">
      <div class="d-grid gap-2 col-lg-8 col-sm-10 mx-auto text-center py-0">
        <%= f.submit "送信", class: "btn btn-primary", id: "submit"%>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-sm-10 mx-auto text-center py-0">
        <%= link_to "マイアカウントに戻る", o_show_path, class: "btn btn-warning"%>
      </div>
    </div>
    <% end %>
  </div>
</div>