<h3>確認</h3>
<% @candidate_days.each.with_index do |day, i| %>
<% @reservation_days = [] %>
<% @reservation_days.push(day) %>
<% splited_day = day.split %>
<% time = Time.parse(splited_day[1]) %>
<h4><%= "候補#{i+1}" %></h4>
<li>日付：<%= splited_day[0] %></li>
<li>時刻：<%= time.strftime("%H:%M") %></li>
<% end %>
<%= form_for(:calendar, url: {controller: 'calendars', action: 'create'}) do |f| %>
<%= f.hidden_field :candidate_days, value: @candidate_days %>
<%= f.submit "上記の日時で申し込む"%>
<% end %>
<%= link_to "日時選択画面へ戻る", c_new_path %>
<%= link_to "店舗に質問を送る", ch_show_path %>